/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

body,html {
    padding: 0;
    margin: 0;
}

/* ====================================
-----------BEGIN HERE------------------
=====================================*/


html {
 	width: 100%;
 	height: 100%;
 	position: relative;
 	overflow: hidden;
}

body { 
	 font-family: "GothamProRegular", sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;  
 	min-height: 100%; 
 	width: 100%;
 	overflow: auto !important;
}

body.home { 
	overflow-y: hidden !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page {
 	min-height: 100%;  
 	min-width: 1200px;
 	background: #fff;
 	position: relative;
 	padding-bottom: 100px;
 	overflow: hidden;
}

.page.page-3d {
	background: transparent;
}

.page.main {
	padding-bottom: 0;
}

.inline-element {
	display: inline-block;
	display: -moz-inline-stack;
}

.inline-list li {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	margin: 0 auto;
	display: block;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.clear {
	width: 100%;
	clear: both;
}

/*===========================================start===========================================*/

nav {
	padding: 0;
	background: #dac4a0;
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
	height: 37px;
}

nav.main {
	position: absolute;
}

nav .login {
	display: inline-block;
}

nav .login img {
	margin-bottom: -2px;
    margin-right: 10px;
}

nav .exit {
	cursor: pointer;
	margin-left: 30px;
}

nav .login .fa {
	color: #fff;
}

nav ul {
	float: right;
	margin-right: 80px;
}

nav ul li {
	padding: 0 15px;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	line-height: 37px;
	outline: none;
}

nav a:hover {
	border-bottom: 1px solid #fff;
}

nav span {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 1px solid #fff;
}

.wrap-head {
	width: 100%;
	position: relative;
	display: inline-block;
	background: #39342e;
	height: 100px;
}

.wrap-head.main {
	position: absolute;
	top: 37px;
	left: 0;
}

header {
	width: 100%;
	height: 100px;
	min-width: 1200px;
	display: block;
	z-index: 10;
	position: relative;
	box-shadow: none;
}

header .logo {
	padding-top: 15px;
	display: inline-block;
}

header .menu li {
	
}

header .menu a {
	line-height: 100px;
	color: #fff1ce;
	font-size: 12px;
	padding: 0 16px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
}

header .menu a:hover {
	background: #24211d;
}
/*=======================================================================content*/
.container {
	display: block;
	position: relative;
	width: 1200px;
	margin: 0 auto;
	min-width: 1200px;
}

.container h1 {
	color: #666666;
	display: inline-block;
	margin-bottom: 24px;
	font-size: 22px;
	line-height: 24px;
	margin-top: 5px;
}

.wrap-main {
	background: url(../img/bgmain.jpg) bottom;
	background-size: cover;
	width: 100%;
	display: inline-block;
	height: 100vh;
}

.wrap-main h1 {
	font-family: "GothamProBold", sans-serif;
	font-size: 30px;
	display: block;
	position: relative;
	line-height: 40px;
	margin-top: 20%;
	width: 400px;
	color: #fff;
}

.wrap-main p {
	display: block;
	position: relative;
	font-size: 18px;
	width: 450px;
	line-height: 25px;
	margin-bottom: 40px;
	margin-top: 20px;
	color: #fff;
}

.wrap-main .btn {
	width: 220px;
	line-height: 37px;
	font-size: 18px;
	text-decoration: none;
}

.breadcrumbs {
	display: inline-block;
	width: 100%;
	padding: 30px 0;
	position: relative;
}

.breadcrumbs a {
	font-size: 10px;
	color: #666;
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
}

.breadcrumbs span {
	line-height: 10px;
	vertical-align: top;
	display: inline-block;
}

.breadcrumbs .active {
	color: #b68067;
}

.container .text {}
.container .subtext {}

.anchor {
	position: relative;
	top: -90px;
	clear: both;
}


table.main {
	width: 100%;
}

table thead {
	background: #f6f0e7;
}

.main thead {
	background: #f6f0e7;
	height: 72px;
	vertical-align: middle;
}
.main thead td {
	color: #745f55;
	font-size: 12px;
	height: 72px;
	text-align: center;
	font-weight: 600;
}

.main tbody tr:hover {
	background: #f6f6f6;
}
.main tbody tr.active {
	background: rgb(66,180,52);
}

.main tr.new {
	background: rgba(0,0,0,0.3);
}

.line_new_post {
	position: absolute;
	z-index: 0;
	top: 60px;
	cursor: pointer;
	left:0;
	color: #fff;
	font-size: 11px;
	padding-top: 2px;
	display: inline-block;
	background: #c02929;
	height: 14px;
	width: 100%;
	text-align: left;
	padding-left: 5%;
}

table thead td {
	color: #745f55;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	font-family: "GothamProMedium", sans-serif;
}
table td {
	border: 1px solid #ddc9a8;
}
table thead td {
	text-align: center;
	vertical-align: middle;
}
table tbody td {
	text-align: center;
	color: #666666;
	font-size: 11px;
	vertical-align: middle;
}

.main tr td:first-child {
	width: 137px;
}
.main tr td:nth-child(2) {
	width: 92px;
}
.main tr td:nth-child(3) {
	width: 68px;
}
.main tr td:nth-child(4) {
	width: 68px;
}
.main tr td:nth-child(5) {
	width: 65px;
}
.main tr td:nth-child(6) {
	width: 45px;
}
.main tr td:nth-child(7) {
	width: 56px;
}
.main tr td:nth-child(8) {
	width: 43px;
}
.main tr td:nth-child(9) {
	width: 108px;
}
.main tr td:nth-child(10) {
	width: 211px;
}
.main tr td:last-child {
	width: 51px;
}

.main tr {
	cursor: pointer;
}

.main td .green,
.main td .plus,
.main tr td:nth-child(10) span  {
	color: #0d9f67;
}
.main tr td:nth-child(10) span {
	display: block;
}

.main td .red,
.main td .min {
	color: #c02929;
}


.main tbody td {
	text-align: center;
	height: 54px;
	color: #666666;
	font-size: 11px;
	vertical-align: middle;
}

.block-table {
	height: 550px;
	overflow-y: scroll;
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block;
	width: 100%;
}

.assec-block {
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	height: 100%;
	min-height: 600px;
	overflow: hidden;
}


/*==========================================================================inf*/
/*==========================================================================inf*/
/*==========================================================================inf*/

.inf {
	width: 75%;
	padding-left: 30px;
	float: right;
	position: absolute;
	height: auto;
	right: -75%;
	padding-top: 20px;
	background: #fff;
	/*transition: all 0.7s;*/
	transition: all 1s; /*1.10.15 думаю надо помедленнее*/
	display: inline-block;
	z-index: 3;
	min-height: 550px;
}

.inf.show {
	position: relative;
	right: 0;
	
}

.inf.show.mouseleave {
	right: -25%;
}
.left-inf-car {
	z-index: 3;
}

.left-inf-car,
.left-inf-car-other,
.wrap-announcement {
	float: left;
	display: inline-block;
	position: relative;
	vertical-align: top;
	transition:all 1s;
	width: 550px;
	left: 0;
	/*padding-top: 20px;*/
}

.wrap-announcement {
	overflow: hidden;
}

.inf .left-inf-car-other {
	top: -1px;
	left: 900px;
	background: #fff;
	width: 560px;
	display: inline-block;
	position: absolute;
}
.left-inf-car {
	left: 900px;
}


.left-inf-car.open {
	left: 0px;
	position: relative;
}

.left-inf-car-other.open {
	left: 0px;
	position: relative;
}

.close-btn {
	position: absolute;
	top: 0px;
	right: 10px;
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	color: #c02929;
	border-bottom: 1px dashed #c02929;
}

.own-block {
	width: 300px;
	display: inline-block;
	position: relative;
}

.img-car {
	height: 230px;
	padding: 0 20px 16px 0;
	overflow: hidden;
	margin-bottom: 10px;
    display: inline-block;
}

.img-car img {
	width: 100%;
}

.btn {
	background: #0d9f67;
	font-size: 12px;
	color: #fff;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}

.contact .cost {
	color: #0d9f67;
	font-size: 24px;
	font-weight: 800;
	display: inline-block;
	margin-bottom: 20px;
	font-family: "GothamProBlack", sans-serif;
}

.contact .name {
	color: #39342e;
	font-size: 11px;
	margin-bottom: 5px;
}

.contact .name span {
	font-size: 15px;
	display: block;
}

.contact .phone {
	width: 195px;
	height: 28px;
	line-height: 28px;
}

.list-inf {
	display: inline-block;
	width: 236px;
}

.list-inf .name {
	color: #39342e;
	font-size: 22px;
	line-height: 20px;
	font-weight: 800;
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-family: "GothamProBlack", sans-serif;
}

.list-inf .time {
	color: #666666;
	display: inline-block;
	font-size: 10px;
}

.list-inf ul {
	margin-top: 35px;
}

.list-inf ul li {
	color: #222222;
	font-size: 12px;
	line-height: 20px;
}

.list-inf ul li span {
	font-weight: 600;
	display: inline-block;
	font-family: "GothamProMedium", sans-serif;
}

.other-right-block-tbl {
	width: 300px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background: #fff;
    z-index: 3;
}

.wrap-other-car-tbl {
	overflow-y:scroll;
/*	height: 355px;*/
	margin-bottom: 30px;
}

.other-right-block-tbl table {
	width: 100%;
}

.other-right-block-tbl tr {
	height: 35px;
	cursor: pointer;
}

.other-right-block-tbl tbody tr:hover {
	background: #f6f6f6;
}


.other-right-block-tbl tr td:first-child {
	width: 55px;
}
.other-right-block-tbl tr td:nth-child(2) {
	width: 60px;
}
.other-right-block-tbl tr td:nth-child(3) {
	width: 24px;
}
.other-right-block-tbl tr td:nth-child(4) {
	width: 45px;
}
.other-right-block-tbl tr td:nth-child(5) {
	width: 50px;
}
.other-right-block-tbl tr td:last-child {
	width: 70px;
}

.inf .title {
	color: #39342e;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	display: inline-block;
	font-family: "GothamProBold",sans-serif;
}

.inf .left-gradient {
	left: 0;
}

.inf.show .left-gradient {
	width: 65px;
	position: absolute;
	left: -65px;
	top: 0;
	height: 100%;
	background: url(../img/left-gradient.png) repeat;
}

.desc {
	width: 550px;
	position: relative;
	display: inline-block;
}

.desc .text {
	font-size: 12px;
	display: inline-block;
	line-height: 14px;
	margin-bottom: 20px;
}

.move {
	width: 545px;
	display: inline-block;
	position: relative;
	border-top:1px solid #e5d6bc;

}

.move .title {
	cursor: pointer;
	display: block;
	line-height: 40px;
	padding-bottom: 10px;
}

.move .title.open img {
	-webkit-transform: rotate(-180deg); /* Chrome y Safari */
	-moz-transform: rotate(-180deg); /* Firefox */
	-o-transform: rotate(-180deg); /* Opera */
	transition: all 0.1s;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}

.move .title a {
	float: right;
}

.move .secret {
	height: 0;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	position: relative;
	transition:all 1s;
	float: left;
	
}

.move .secret.open {
	height: auto;
}

.move .secret table {
	margin-bottom: 20px;
}
.move .secret thead tr {
	height: 36px;
}
.move .secret tbody tr {
	height: 26px;
}
.move .secret .second tbody tr {
	height: 45px;
}
.secret tr td:first-child {
	width: 85px;
}
.secret tr td:nth-child(2) {
	width: 110px;
}
.secret tr td:nth-child(3) {
	width: 108px;
}
.secret tr td:nth-child(4) {
	width: 80px;
}
.secret tr td:last-child {
	width: 85px;
}

.secret .btn {
	width: 104px;
	line-height: 23px;
	text-decoration: none;
	margin-right: 16px;
	font-size: 11px;
	margin-bottom: 20px;
}

.secret .btn.middle {
	display: block;
	margin: 0 auto;
}

.xz .filtre-text {
	font-family: "GothamProLight", sans-serif;
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	color: #39342e;
	font-size: 12px;
	margin-right: 20px;
}

.xz .filtre {
	font-family: "GothamProLight", sans-serif;
	display: inline-block;
	vertical-align: top;
	color: #0d9f67;
	font-size: 12px;
	margin-bottom: 10px;
	margin-right: 25px;
	border-bottom: 1px dashed;
	text-decoration: none;
}

.xz .filtre.active {
	color: #c02929;
}

.xz .other {
	background: #ddf1ea;
}

.some-price tr td {
	height: 36px;
}

.some-price tr td:first-child {
	width: 75px;
}
.some-price tr td:nth-child(2) {
	width: 100px;
}
.some-price tr td:nth-child(3) {
	width: 100px;
}
.some-price tr td:nth-child(4) {
	width: 70px;
}
.some-price tr td:last-child {
	width: 205px;
}

.some-price .btn {
	width: 195px;
	line-height: 28px;
	margin-right: 0;
}

.some-price .text-untit {
	color: #222222;
	font-family: "GothamProMedium", sans-serif;
	margin-bottom: 18px;
	font-size: 15px;
	display: block;
}

.some-price .second tr td:first-child {
	width: 165px;
}
.some-price .second tr td:nth-child(2) {
	width: 120px;
}
.some-price .second tr td:nth-child(3) {
	width: 120px;
}
.some-price .second tr td:last-child {
	width: 130px;
}

.text-left-brd {
	border-left: 2px solid #0d9f67;
	display: inline-block;
	font-family: "GothamProLight", sans-serif;
	padding-left: 10px;
	font-size: 12px;
	color: #39342e;
	line-height: 16px;
	margin-bottom: 20px;
}

.text-left-brd span {
	color: #0d9f67;
	font-family: "GothamProItalic",sans-serif;
}

.text-left-brd .time {
	font-family: "GothamProLight",sans-serif;
	color: #666666;
	font-size: 10px;
	display: block;
}

.some-price .new-zapros {
	display: inline-block;
	height: 0;
	overflow: hidden;
	transition:all 1s;
}
.some-price .new-zapros.open {
	height: 400px;
}
.some-price .btn.middle {
	margin-bottom: 30px;
}

.midle-cost-count .group-block {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 40px;
}

.midle-cost-count .group-block.inform {
	background: #f7f7f7;
	padding: 7px;
	height: 70px;
	margin-bottom: 35px;
}

.midle-cost-count .group-block label {
	color: #39342e;
	font-size: 12px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 13px;
	font-family: "GothamPro", sans-serif;
	font-weight: 600;
}

.midle-cost-count .group-block select,
.midle-cost-count .group-block input {
	border: 1px solid #e5d6bc;
	font-family: "GothamProLight", sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
	margin-bottom: 13px;
	width: 120px;
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
}
.midle-cost-count .group-block select.year {
	margin-right: 0;
	width: 80px;
}
.midle-cost-count .group-block select.last {
	margin-right: 0;
	width: 70px;
}

.midle-cost-count .group-block .mod {
	color: #222222;
	margin-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
	font-size: 13px;
	line-height: 16px;
}

.midle-cost-count .group-block .mod-some {
	font-size: 11px;
	line-height: 16px;
	display: inline-block;
	vertical-align: top;
}

.midle-cost-count  .group-mod {
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: top;
	width: 190px;
}
.midle-cost-count  .group-mod input {
	width: 11px;
	height: 11px;
	display: inline-block;
	margin-right: 8px;
}
.midle-cost-count  .group-mod label {
	color: #666666;
	font-size: 11px;
	line-height: 17px;
	font-family: "GothamProLight", sans-serif;
	display: inline-block;
}

.midle-cost-count .group-block.inform ul li {
	font-family: "GothamProLight", sans-serif;
	width: 230px;
	display: inline-block;
	color: #222222;
	font-size: 12px;
	line-height: 15px;
}

.midle-cost-count .group-block.inform ul li span {
	font-family: "GothamPro", sans-serif;
}

.midle-cost-count .group-block.dop label {
	float: left;
}

.midle-cost-count .group-block.dop select {
	width: 70px;
	margin-right: 17px;
	float: left;
	font-family: "GothamProLight", sans-serif;
}

.midle-cost-count .group-block.dop input {
	width: 70px;
}

.midle-cost-count .group-block.dop select.good {
	width: 100px;
}

.midle-cost-count .btn.middle {
	width: 200px;
	height: 28px;
	line-height: 28px;
	margin-bottom: 30px;
}

.call tr td:first-child {
	width: 45px;
}
.call  tr td:nth-child(2) {
	width: 110px;
}
.call  tr td:nth-child(3) {
	width: 120px;
}
.call  tr td:last-child {
	width: 260px;
}


.black-list .secret input {
	width: 170px;
	height: 25px;
	margin-right: 20px;
	margin-top: 2px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #e5d6bc;
}
.black-list .secret .btn {
	width: 200px;
	height: 28px;
	line-height: 28px;
}

.inf-about .title .pen {
	font-size: 15px;
	margin: 0 10px;
	color: #0d9f67;
	float: none;
}

.inf-about ul {
	width: 300px;
	margin-bottom: 30px;
	display: inline-block;
}

.inf-about ul li {
	color: #222222;
	font-size: 12px;
	line-height: 20px;
}

.inf-about ul li span {
	font-weight: 600;
	display: inline-block;
	font-family: "GothamProMedium", sans-serif;
}

.inf-about .btn {
	vertical-align: top;
	width: 200px;
	line-height: 28px;
	margin-top: 20px;
}

.inf-about .text-untit {
	color: #39342e;
	font-size: 12px;
	margin-bottom: 15px;
	font-family: "GothamProBold", sans-serif;
}


.inf-about .meneger {
	border: 0px;
}

.inf-about .meneger  tr td:nth-child(3) span {
	color: #0d9f67;
	display: block;
	text-align: center;
}

audio {
    background-color: #fff;
}

.edit_inf_block {
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	height: auto;
	background: #fff;
}

.edit_inf_block.open {
	display: inline-block;
}

.edit_inf_block .group {
	display: inline-block;
	width: 260px;
	padding-right: 10px;
	position: relative;
	vertical-align: top;
}

.edit_inf_block i {
	color: #0d9f67;
}

.edit_inf_block label,
.edit_inf_block input,
.edit_inf_block .area {
	color: #333;
	font-size: 12px;
	display: inline-block;
	position: relative;
	width: 90%;
	line-height: 22px;
	font-weight: 700;
}

.edit_inf_block input {
	line-height: 25px;
	padding-left: 10px;
	font-weight: 400;
}

.edit_inf_block .area {
	resize:none;
}

.valid {
	font-size: 12px;
	padding: 10px;
	color: #fff;
	margin-bottom: 5px;
	display: inline-block;
}

.valid.good {
	background: rgba(40,200,140,0.7);
}

.valid.error {
	background: rgba(200,60,75,0.7);
}

.panel {
	float: right;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
	margin-right: 10px;
    /*padding-bottom: 50px;*/
    /*margin-top: -20px;*/
    position: relative;
	color: #0d9f67;
	font-size: 11px;
	font-weight: 300;
}

.panel i {
	color: #0d9f67;
	margin-right: 4px;
}

.panel a {
	color: #0d9f67;
	margin-right: 10px;
	text-decoration: none;
}

.panel .link-play .fa-play,
.panel .link-play span.play,
.panel .link-vol .fa-volume-up,
.panel .link-vol span.sound-off,
.panel .link-pic span.pic-off {
	display: none;
}

.panel .link-play.active .fa-pause,
.panel .link-play.active span.pause,
.panel .link-vol.active .fa-volume-off,
.panel .link-vol.active span.sound,
.panel .link-pic.active span.pic {
	display: none;
}
.panel .link-play.active .fa-play,
.panel .link-play.active span.play,
.panel .link-vol.active .fa-volume-up,
.panel .link-vol.active span.sound-off,
.panel .link-pic.active span.pic-off {
	display: inline-block;
}

.filter {
	float: right;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
	position: relative;
	color: #0d9f67;
	font-size: 11px;
	font-weight: 300;
}

.filter.active .dropdown_list_filter {
	display: inline-block;
}

.dropdown_list_filter {
	display: none;
	width: 180px;
	/*min-height: 150px;*/
	position: absolute;
	top: 53px;
	z-index: 1;
	right: 0;
	border: 1px solid #dac4a0;
	padding: 19px;
	background: #fff;
}
.dropdown_list_filter a {
	color: #39342e;
	font-size: 11px;
	width: 100%;
    display: inline-block;
    text-decoration: none;
    line-height: 25px;
}
.dropdown_list_filter label {
	color: #39342e;
	font-size: 11px;
	vertical-align: top;
	line-height: 19px;
    display: inline-block;
    text-decoration: none;
}
.dropdown_list_filter input:checked ~ label {
	color: #0d9f67;
}
.onfilter {
	font-size: 12px;
	cursor: pointer;
}

.onfilter .gree-arrow {
	float: right;
	margin-left: 10px;
}

.onfilter img {
	-moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}


/*============================================================================Filtre*/
/*============================================================================Filtre*/
/*============================================================================Filtre*/

.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.checkbox + label {
	cursor: pointer;
	display: block;
	position: relative;
	line-height: 20px;
	margin-left: 27px;
}

.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.checkbox:not(checked) + label {
	position: relative; 
}

.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	display: inline-block;
	top: 4px;
	left: -17px;
	width: 10px;
	height: 10px;
	background: transparent;
	border: 1px solid #0d9f67;
}

.checkbox:checked + label:before {
	background: #0d9f67;
	width: 10px;
	height: 10px;
	display: inline-block;
}
.wrap-group {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin-bottom: 25px;
}
.group {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 160px;
}

.group.all {
	display: inline-block;
	width: 90%;
	padding-top: 7px;
}
.gree-arrow {
	text-decoration: none;
	display: inline-block;
	float: left;
    margin-right: 4px;
}
.dropdown-group {
	position: relative;
	display: none;
}
.group.active > .dropdown-group {
	display: inline-block;
	margin-left: 15px;
}

.group.active .gree-arrow img {
	-moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

.block-filter {
	display: block;
	position: relative;
	margin-bottom: 35px;
}

.name-filter-label {
	color: #39342e;
	font-family: "GothamProBold";
	font-size: 16px;
	line-height: 32px;
	width: 115px;
	margin-bottom: 10px;
	display: inline-block;
}

.name-filter-label.full  {
	width: 100%;
}

.block-filter input {
	border: 1px solid #e5d6bc;
	width: 317px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	display: inline-block;
	color: #000;
	padding-left: 15px;
}

.block-line {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 30px;
    margin-bottom: 10px;
}

.param.left {
	width: 670px;
	display: inline-block;
}

.param .block-line p,
.param .block-line span {
	width: 110px;
	display: inline-block;
	position: relative;
	float: left;
	color: #39342e;
	font-size: 12px;
	line-height: 25px;
}

.param .block-line p span {
	float: right;
}

.param .block-line span {
	margin: 0 15px 0 30px;
	width: auto;
	float: left;
}

.param .block-line input,
.param .block-line select {
	width: 70px;
	height: 25px;
	line-height: 25px;
	float: left;
	color: #000;
	padding-left: 10px;
}

.param .block-line select.side {
	width: 100px;
}

.param .block-line .text {
	font-size: 10px;
	color: #999;
	width: 100%;
	line-height: 12px;
	font-family: "GothamProLight";
	width: 320px;
	margin-left: 15px;
	display: inline-block;
}

.param .block-line .text.middle {
	width: 400px;
}

.param .param-name {
	width: 110px;
	float: left;
	color: #39342e;
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	position: relative;
}

.param .inp.big {
	width: 200px;
	border: 1px solid #e5d6bc;
	color: #666;
}
.event {
	width: 270px;
	padding-left: 50px;
	min-height: 190px;
	border-left: 1px solid #e5d6bc;
}

.filter-checkbox-block {
	display: inline-block;
	position: relative;
	width: 100%;
}

.filter-checkbox-block .col {
	width: 160px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.btn.save,
.btn.add,
.btn.put-monet {
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	width: 141px;
	line-height: 28px;
	margin: 50px auto;
}
.btn.add {
	float: right;
	margin: 0px;
}

.filter-wrap-box {
	display: inline-block;
	position: relative;
}

.filter-list-line {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 1px;
	background: #e5d6bc;
	margin: 10px 0 20px;
}

.filter-list .del,
.filter-list .name,
.filter-list .edit {
	font-family: "GothamPro", sans-serif;
	font-size: 12px;
	color: #39342e;
	margin-left: 20px;
	text-decoration: none;
	display: inline-block;
}
.filter-list i {
	font-size: 12px;
	margin-right: 5px;
}

.filter-list .name {
	line-height: 30px;
}

.filter-list .del {
	color: #ff7f7f;
	border-bottom: 1px dashed #ff7f7f;
}
.filter-list .edit {
	color: #0d9f67;
	border-bottom: 1px dashed #0d9f67;
}

.last-session {
	width: 320px;
	display: inline-block;
	border: 0px;
	margin-right:70px;
}

.last-session tr:nth-child(odd) {
	background: #f7f7f7;
}

.last-session tr td {
	height: 27px;
	line-height: 27px;
	text-align: left;
	border: 0px;
}

.last-session tr td:first-child {
	width: 225px;
}

.alarma {
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.alarma i {
	background: #fff;
	color: #e23e3c;
	vertical-align: top;
	float: left;
	display: inline-block;
	position: relative;
	font-size: 25px;
	margin-right: 10px;
}

.alarma p {
	display: inline-block;
	vertical-align: top;
	width: 90%;
	color: #39342e;
	font-size: 12px;

}

.tarif p {
	font-size: 12px;
	line-height: 14px;
	font-family: "GothamProLights", sans-serif;
}

.tarif p span {
	color: #e23e3c;
}

.tarif p a {
	color: #5189b3;
}

.pay-block .price {
	font-size: 12px;
}

.pay-block .pay {
	width: 44%;
	display: inline-block;
	position: relative;
	float: left;
	padding-bottom: 30px;
}

.pay-block .pay.ya {
	margin-right: 6%;
}

.pay-block .pay input {
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: top;
    margin: 0;
    margin-right: 5px;
}

.pay-block .pay label {
	color: #010101;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.pay-block .pay label span {
	color: #ff0000;
}
.pay-block .pay.tarif p{
	padding-left: 25px;
}

.reklam{}

.filter-reklam {
	float: right;
	width: 160px;
	height: 400px;
	border: 1px solid #e2d1b5;
}

.block-all-reklam {
	width: 70%;
	display: inline-block;
	position: relative;
}

.one-reklam {
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
}

.filter-reklam .head,
.one-reklam .head {
	height: 70px;
	width: 100%;
	text-align: center;
	display: inline-block;
	background: #f6f0e7;
}

.one-reklam .head {
	height: 60px;
	text-align: left;
	padding-left: 20px;
	cursor: pointer;
	border-top: 1px solid #e5d6bc;
}

.filter-reklam .head .title,
.one-reklam .head .title {
	line-height: 70px;
	color: #745f55;
	font-size: 16px;
	text-transform: uppercase;
	font-family: "GothamProMedium",sans-serif;
}

.one-reklam .head .title {
	line-height: 60px;
	text-transform: none;
}
.one-reklam .arrow {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 3px;
	-webkit-transform: rotate(-90deg); /* Chrome y Safari */
	-moz-transform: rotate(-90deg); /* Firefox */
	-o-transform: rotate(-90deg); /* Opera */
	transition: all 0.1s;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}

.one-reklam.active .arrow {
	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	-o-transform: rotate(0deg); /* Opera */
}

.btn.addadd {
	width: 140px;
	line-height: 27px;
	text-decoration: none;
	margin-top: 17px;
	margin-right: 12px;
}

.one-reklam table {
	position: relative;
	display: inline-block;
	width: 100%;
	left: 0;
	top: 0;
}

.one-reklam tr td {
	height: 70px;
}

.one-reklam tr td:first-child {
	width: 200px;
	border-left: 0;
}
.one-reklam tr td:nth-child(2) {
	width: 150px;
}
.one-reklam tr td:nth-child(3) {
	width: 100px;
}
.one-reklam tr td:nth-child(4) {
	width: 100px;
}
.one-reklam tr td:nth-child(5) {
	width: 100px;
}
.one-reklam tr td:last-child {
	width: 350px;
	border-right: 0;
	text-align: left;
	padding: 0 34px;
}

.one-reklam tr:last-child td {
	border-bottom: 0px;
}

.one-reklam tr td:first-child p {
	display: block;
	margin-bottom: 4px;
}

.one-reklam tr td .stat {
	color: #0d9f67;
	border-bottom: 1px dashed #0d9f67;
	font-size: 9px;
	display: inline-block;
	margin-left: 10px;
	font-family: "GothamProLight",sans-serif;
	cursor: pointer;
	text-decoration: none;
}
.one-reklam tr td .edit {
	color: #c02929;
	border-bottom: 1px dashed #c02929;
	font-family: "GothamProLight",sans-serif;
	font-size: 9px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	margin-left: 10px;
}

.one-reklam tr td .day {
	display: block;
}
.one-reklam .link-play,
.one-reklam .link-stop,
.one-reklam .link-del {
	color: #0d9f67;
	font-size: 9px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	padding-top: 3px;
	border-radius: 20px;
	border: 2px solid #0d9f67;
	display: inline-block;
	vertical-align: top;
}
.one-reklam .link-play{
	padding-left: 1px;
}
.one-reklam .link-del {
	padding-top: 4px;
}

.one-reklam .addFilter {
	color: #c02929;
	font-size: 12px;
	margin-left: 10px;
	width: 23px;
	height: 23px;
	text-align: center;
	position: absolute;
	right: -50px;
	top: 25px;
	padding-top: 3px;
	border-radius: 20px;
	border: 3px solid #c02929;
	display: inline-block;
	vertical-align: top;
}

.filterSort li {
	width: 105px;
	height: 22px;
	display: inline-block;
	border: 1px dashed #0d9f67;
	border-radius: 5px;
	color: #666666;
	cursor: pointer;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	line-height: 22px;
	margin-top: 10px;
	margin-left: 10px;
	font-style: normal;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000; 
}

ol.simple_with_no_drop {
  list-style-type: none;
  width: 125px;
  margin: 0 auto;
  display: block;
}

ol i.icon-move {
    cursor: pointer; 
}
 
ol.vertical li.placeholder {
    position: relative;
    border: 2px dashed #0d9f67;
    vertical-align: top;
    margin-top: 10px;
	margin-left: 10px; 
}
   
ol.vertical li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: 0px;
      left: -8px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: #333;
      border-right: none; 
}

.icon-move {
	display: inline-block;
    width: 80%;
    line-height: 19px;
    vertical-align: top;
    text-align: center;
    font-style: normal;
    font-size: 11px;
    color: #666666;
    font-family: "GothamProLight"
}

.icon-move:last-child {
    *margin-left: 0; 
}

.icon-close {
	display: inline-block;
	width: 20px;
	height: 18px;
    line-height: 18px;
    border-left: 1px dashed #0d9f67;
    float: right;
    text-align: center;
    vertical-align: top;
}

body.dragging, body.dragging * {
  cursor: move !important; 
}

.text-left-brd .title {
	font-size: 18px;
	color: #39342e;
	font-family: "GothamProBold",sans-serif;
	display: inline-block;
	margin-bottom: 10px;
}

.time_news {
	color: #a4a4a4;
	display: inline-block;
	font-size: 10px;
	margin-left: 5px;
}

.text-left-brd .text {
	color:#39342e;
	font-size: 14px;
	line-height: 18px;
}

.text-left-brd.news {
	margin-bottom: 55px;
	min-height: 70px;
	cursor: pointer;
	display: block;
}

.addfilter_modal li {
	display: block;
	width: 200px;
	margin-left: 40px;
}

.addfilter_modal li .icon-move {
	width: 100%;
}

.addfilter_modal li .checkbox + label {
	margin-left: -15px;
}

.statistic {}
.statistic .block-line input {
	width: 100px;
	color: #39342e;
	padding-left: 8px;
}

.statistic .block-line .text {
	line-height: 26px;
}

.statistic .block-line .right {
	float: right;
}

.statistic .block-line .stat {
	width: 200px;
}

.statistic .change_date {
	font-size: 11px;
	color: #666666;
	display: inline-block;
	margin-bottom: 30px;
}

.statistic .change_date .radio {
	border-radius: 50%;
}

.statistic .radio:checked + label:before,
.statistic .radio:not(checked) + label:before {
	border-radius: 50%;
}

.statistic .block-line .forselect {
	width: auto;
	margin-right: 20px;
	color: #39342e;
	font-size: 12px;
	line-height: 27px;
	display: inline-block;
}

.custom_stat {
	width: 850px;
	display: inline-block;
	margin-bottom: 30px;
}

.common_stat {
	width: 350px;
	display: inline-block;
	border-left: 1px solid #e5d6bc;
	height: 330px;
}

.common_stat .title {
	color: #39342e;
	font-size: 12px;
	display: block;
	text-align: center;
	font-family: "GothamProBold",sans-serif;
	margin-bottom: 30px;
}

.common_stat .block-stat {
	margin-left: 100px;
	width: 120px;
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	height: 55px;
	padding-left: 20px;
}

.common_stat .block-stat p {
	color: #5c636c;
	font-size: 34px;
	margin-bottom: 3px;
	display: inline-block;
	position: relative;
	font-family: "GothamProRegular"
}

.common_stat .block-stat span {
	color: #a5acb4;
	font-size: 14px;
}

.common_stat .send {
	border-left: 3px solid #f3e145;
}

.common_stat .deliver {
	border-left: 3px solid #0d9f67;
}

.common_stat .not_deliver {
	border-left: 3px solid #2f98da;
}

.line-stat {
	background: #e5d6bc;
	height: 1px;
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 30px;
	margin-bottom: 60px;
}

.block-line .text.one {
	line-height: 26px;
}

.block-line .area {
	width: 490px;
	height: 110px;
	display: inline-block;
	position: relative;
	resize:none;
	border: 1px solid #e5d6bc;
}

.block-line .under_area.text {
	margin-left: 110px;
}

.use_tagi {
	width: 330px;
	border-left: 1px solid #e5d6bc;
	padding-left: 50px;
}

.use_tagi .name-filter-label {
	width: auto;
}

.use_tagi .tagi {
	border: 0;
}

.use_tagi .tagi tr td:first-child {
	width: 150px;
	border: 0;
	text-align: left;
	color: #0d9f67;
	font-size: 12px;
	line-height: 20px;
}

.use_tagi .tagi tr td:last-child {
	text-align: left;
	border: 0;
}



.schedule.param {
	width: 100%;
}

.schedule p ,
.schedule label {
	font-size: 12px;
	color: #39342e;
}

.schedule .checkbox + label {
	margin-left: 17px;
}

.schedule .block-line .cc {
	margin: 0 5px 0 10px;
}

.schedule .block-line.day .group {
	width: auto;
	display: inline-block;
	margin-right: 20px;
	font-size: 12px;
	color: #39342e;
}

.schedule.param .block-line .text{
	width: 470px;
}
/*statistic*/
::-webkit-datetime-edit { padding: 0em; }
::-webkit-datetime-edit-fields-wrapper { background: #fff; }
::-webkit-datetime-edit-text { color: #000; padding: 0px; }
::-webkit-datetime-edit-month-field { }
::-webkit-datetime-edit-day-field {  }
::-webkit-datetime-edit-year-field { display: none; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #fff; }

.pagination {
	display: block;
	width: 270px;
	margin: 0 auto;
	height: 50px;
	padding: 50px 0;
}

.pagination a {
	width: 27px;
	height: 27px;
	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 27px;
	font-size: 14px;
	color: #000;
	font-weight: 700;
	margin-left: 5px;
	text-decoration: none;
	border: 1px solid #000;
}
.pagination a:hover {
	background:#39342e;
	color: #fff;
	border-color: #fff;
}
/*=============================================================================================FOOTER*/
.wrap-footer {
	height: 100px;
	position: relative;
	bottom: 0;
	width: 100%;
	display: block;
	background: #39342e;
	margin-top: -100px;
	z-index: 10;
}

.wrap-footer.main {
	background: transparent;
	left: 0;
}

.wrap-footer.main footer {
	background: transparent;
}

.wrap-footer-clear {
	height: 100px;
	width: 100%;
	position: relative;
	clear: both;
}

footer {
	height: 100px;
	position: relative;
	bottom: 0;
	width: 1200px;
	margin: 0 auto;
	display: block;
	background: #39342e;
}

footer .logo-footer {
	padding: 32px 10px;
	float: left;
}

footer .copy {
	float: left;
	display: inline-block;
}

footer .copy p {
	line-height: 100px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}

footer .some {
	float: left;
	width: 400px;
	margin-left: 120px;
	padding-top: 35px;
	display: inline-block;
	color: #fff;
}

footer .some p { 
	font-size: 12px;
}

footer .support {
	float: left;
	margin-left: 100px;
}
footer .support.main {
	margin-left: 650px;
}
footer .support p {
	line-height: 100px;
	color: #fff1ce;
	font-size: 12px;
}

footer .developed {
	float: right;
	margin-top: 40px;
	padding: 0px 15px 10px 30px;
	/*background: url(../img/kamod.png) no-repeat;*/
	background: url(../img/kamod-white.png) no-repeat;
	font-size: 11px;
	margin-left: 10px;
}

footer .developed p {
	color: #afafaf;
	text-align: left;
	line-height: 14px;
}

footer .developed a {
	font-size: 14px;
	color: #afafaf;
	text-decoration: none;
}

/*==================================================jquery.kamod*/

.kamod-overlay,
.kamod-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.kamod-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .kamod-container { height: 100% }
.kamod-container_i { height: 100%; margin: 0 auto; }
.kamod-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.kamod-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.kamod-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

/*==================================================simple*/
.box-modal {
	position: relative;
	width: 330px;
	padding: 16px;
	background: #fff;
	border: 5px solid #dac4a0;
}

.box-modal.price {
	width: 560px;
}

.box-modal_close { 
	position: absolute;
	right: 10px;
	top: 6px;
	font-size: 11px; 
	line-height: 15px;
	color: #999; 
	cursor: pointer;
	z-index: 5;
}

.box-modal_close:hover {
	color: #666;
}

.box-modal.price .text-left-brd,
.box-modal.price .text-untit {
	text-align: left;
	display: block;
}
.box-modal.price table {
	margin-bottom: 20px;
}

header li#modal-registr {
	position: relative;
	z-index: 1000;
}

.feedback.popap {
	border: 0;
	padding: 0;
	height: 330px;
	width: auto;
	margin-bottom: 0;
	padding-top: 40px;
}

.feedback.popap .inp.sel {
	color: #6cac62;
	font-size: 14px;
	text-transform: uppercase;
}

.feedback.popap .inp {
	border: 1px solid #d3e6d0;
}

.cost-popap-text {
	display: inline-block;
	width: 100%;
	position: relative;	

}

.cost-popap-text .title {
	color: #313544;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	color: #666;
	font-family: "GothamProBold", sans-serif;
}

.cost-popap-text .text {
	color: #888888;
	font-size: 13px;
	line-height: 15px;
	font-family: "GothamProLight", sans-serif;
	text-align: center;
	margin-bottom: 60px;
}

.cost-popap-text .inp {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	margin-bottom: 13px;
	border: 1px solid #ebebeb;
}

.cost-popap-text .inp.last {
	margin-bottom: 60px;
}

.cost-popap-text .area {
	width: 100%;
	height: 100px;
	line-height: 40px;
	padding-left: 10px;
	margin-bottom: 13px;
	border: 1px solid #ebebeb;
	resize:none;
}

.cost-popap-text .btn {
	width: 100%;
	line-height: 38px;
	font-weight: 600;
	border-radius: 0;
	text-decoration: none;
	margin-bottom: 10px;
}
.cost-popap-text .btn.ok {
	width: 200px;
	display: block;
	margin: 20px auto;
	border-radius: 5px;
	line-height: 30px;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 10px;
}
.cost-popap-text .enter {
	display: block;
	text-align: center;
	line-height: 28px;
	color: #0d9f67;
	font-size: 12px;
}

.cost-popap-text .send table td {
	border: 0;
}

.cost-popap-text .send tr td:first-child {
	width: 82px;
	font-family: "GothamProBold";
	vertical-align: top;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
}
.cost-popap-text .send  tr td:nth-child(2) {
	width: 300px;
}
.cost-popap-text .send  tr td:last-child {
	width: 110px;
	text-align: center;
	vertical-align: top;
}

.cost-popap-text .send input {
	border-color: #ebebeb;
	color: #c0bfbe;
}

.cost-popap-text .send .btn {
	width: 90px;
	border-radius: 5px;
}